@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Info */
  --color-info-50: #f0f9ff;
  --color-info-100: #e0f2fe;
  --color-info-200: #bae6fd;
  --color-info-300: #7dd3fc;
  --color-info-400: #38bdf8;
  --color-info-500: #0ea5e9;
  --color-info-600: #0284c7;
  --color-info-700: #0369a1;
  --color-info-800: #075985;
  --color-info-900: #0c4a6e;
  --color-info-950: #082f49;

  /* Warning */
  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;
  --color-warning-950: #451a03;

  /* Success */
  --color-success-50: #f0fdf4;
  --color-success-100: #dcfce7;
  --color-success-200: #bbf7d0;
  --color-success-300: #86efac;
  --color-success-400: #4ade80;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-700: #15803d;
  --color-success-800: #166534;
  --color-success-900: #14532d;
  --color-success-950: #052e16;

  /* Danger */
  --color-danger-50: #fef2f2;
  --color-danger-100: #fee2e2;
  --color-danger-200: #fecaca;
  --color-danger-300: #fca5a5;
  --color-danger-400: #f87171;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-danger-700: #b91c1c;
  --color-danger-800: #991b1b;
  --color-danger-900: #7f1d1d;
  --color-danger-950: #450a0a;

  /* Neutral */
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-300: #d1d5db;
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;
  --color-neutral-950: #030712;

  /* Primary Blue */
  --color-primary-blue-50: #eff6ff;
  --color-primary-blue-100: #dbeafe;
  --color-primary-blue-200: #bfdbfe;
  --color-primary-blue-300: #93c5fd;
  --color-primary-blue-400: #60a5fa;
  --color-primary-blue-500: #3b82f6;
  --color-primary-blue-600: #2563eb;
  --color-primary-blue-700: #1d4ed8;
  --color-primary-blue-800: #1e40af;
  --color-primary-blue-900: #1e3a8a;
  --color-primary-blue-950: #172554;

  /* Secondary Blue */
  --color-secondary-blue-50: #eff6ff;
  --color-secondary-blue-100: #dbeafe;
  --color-secondary-blue-200: #bfdbfe;
  --color-secondary-blue-300: #93c5fd;
  --color-secondary-blue-400: #60a5fa;
  --color-secondary-blue-500: #3b82f6;
  --color-secondary-blue-600: #2563eb;
  --color-secondary-blue-700: #1d4ed8;
  --color-secondary-blue-800: #1e40af;
  --color-secondary-blue-900: #1e3a8a;
  --color-secondary-blue-950: #172554;

  /* Gradient */
  --gradient-primary-blue: linear-gradient(to right, #2353DF, #36AAF3, #3061E5);

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.bg-info-50 { background-color: var(--color-info-50); }
.bg-info-100 { background-color: var(--color-info-100); }
.bg-info-200 { background-color: var(--color-info-200); }
.bg-info-300 { background-color: var(--color-info-300); }
.bg-info-400 { background-color: var(--color-info-400); }
.bg-info-500 { background-color: var(--color-info-500); }
.bg-info-600 { background-color: var(--color-info-600); }
.bg-info-700 { background-color: var(--color-info-700); }
.bg-info-800 { background-color: var(--color-info-800); }
.bg-info-900 { background-color: var(--color-info-900); }
.bg-info-950 { background-color: var(--color-info-950); }

.bg-warning-50 { background-color: var(--color-warning-50); }
.bg-warning-100 { background-color: var(--color-warning-100); }
.bg-warning-200 { background-color: var(--color-warning-200); }
.bg-warning-300 { background-color: var(--color-warning-300); }
.bg-warning-400 { background-color: var(--color-warning-400); }
.bg-warning-500 { background-color: var(--color-warning-500); }
.bg-warning-600 { background-color: var(--color-warning-600); }
.bg-warning-700 { background-color: var(--color-warning-700); }
.bg-warning-800 { background-color: var(--color-warning-800); }
.bg-warning-900 { background-color: var(--color-warning-900); }
.bg-warning-950 { background-color: var(--color-warning-950); }

.bg-success-50 { background-color: var(--color-success-50); }
.bg-success-100 { background-color: var(--color-success-100); }
.bg-success-200 { background-color: var(--color-success-200); }
.bg-success-300 { background-color: var(--color-success-300); }
.bg-success-400 { background-color: var(--color-success-400); }
.bg-success-500 { background-color: var(--color-success-500); }
.bg-success-600 { background-color: var(--color-success-600); }
.bg-success-700 { background-color: var(--color-success-700); }
.bg-success-800 { background-color: var(--color-success-800); }
.bg-success-900 { background-color: var(--color-success-900); }
.bg-success-950 { background-color: var(--color-success-950); }

.bg-danger-50 { background-color: var(--color-danger-50); }
.bg-danger-100 { background-color: var(--color-danger-100); }
.bg-danger-200 { background-color: var(--color-danger-200); }
.bg-danger-300 { background-color: var(--color-danger-300); }
.bg-danger-400 { background-color: var(--color-danger-400); }
.bg-danger-500 { background-color: var(--color-danger-500); }
.bg-danger-600 { background-color: var(--color-danger-600); }
.bg-danger-700 { background-color: var(--color-danger-700); }
.bg-danger-800 { background-color: var(--color-danger-800); }
.bg-danger-900 { background-color: var(--color-danger-900); }
.bg-danger-950 { background-color: var(--color-danger-950); }

.bg-neutral-50 { background-color: var(--color-neutral-50); }
.bg-neutral-100 { background-color: var(--color-neutral-100); }
.bg-neutral-200 { background-color: var(--color-neutral-200); }
.bg-neutral-300 { background-color: var(--color-neutral-300); }
.bg-neutral-400 { background-color: var(--color-neutral-400); }
.bg-neutral-500 { background-color: var(--color-neutral-500); }
.bg-neutral-600 { background-color: var(--color-neutral-600); }
.bg-neutral-700 { background-color: var(--color-neutral-700); }
.bg-neutral-800 { background-color: var(--color-neutral-800); }
.bg-neutral-900 { background-color: var(--color-neutral-900); }
.bg-neutral-950 { background-color: var(--color-neutral-950); }

.bg-primary-blue-50 { background-color: var(--color-primary-blue-50); }
.bg-primary-blue-100 { background-color: var(--color-primary-blue-100); }
.bg-primary-blue-200 { background-color: var(--color-primary-blue-200); }
.bg-primary-blue-300 { background-color: var(--color-primary-blue-300); }
.bg-primary-blue-400 { background-color: var(--color-primary-blue-400); }
.bg-primary-blue-500 { background-color: var(--color-primary-blue-500); }
.bg-primary-blue-600 { background-color: var(--color-primary-blue-600); }
.bg-primary-blue-700 { background-color: var(--color-primary-blue-700); }
.bg-primary-blue-800 { background-color: var(--color-primary-blue-800); }
.bg-primary-blue-900 { background-color: var(--color-primary-blue-900); }
.bg-primary-blue-950 { background-color: var(--color-primary-blue-950); }

.bg-secondary-blue-50 { background-color: var(--color-secondary-blue-50); }
.bg-secondary-blue-100 { background-color: var(--color-secondary-blue-100); }
.bg-secondary-blue-200 { background-color: var(--color-secondary-blue-200); }
.bg-secondary-blue-300 { background-color: var(--color-secondary-blue-300); }
.bg-secondary-blue-400 { background-color: var(--color-secondary-blue-400); }
.bg-secondary-blue-500 { background-color: var(--color-secondary-blue-500); }
.bg-secondary-blue-600 { background-color: var(--color-secondary-blue-600); }
.bg-secondary-blue-700 { background-color: var(--color-secondary-blue-700); }
.bg-secondary-blue-800 { background-color: var(--color-secondary-blue-800); }
.bg-secondary-blue-900 { background-color: var(--color-secondary-blue-900); }
.bg-secondary-blue-950 { background-color: var(--color-secondary-blue-950); }

.bg-gradient-primary-blue { background: var(--gradient-primary-blue); }

.text-info-50 { color: var(--color-info-50); }
.text-info-100 { color: var(--color-info-100); }
.text-info-200 { color: var(--color-info-200); }
.text-info-300 { color: var(--color-info-300); }
.text-info-400 { color: var(--color-info-400); }
.text-info-500 { color: var(--color-info-500); }
.text-info-600 { color: var(--color-info-600); }
.text-info-700 { color: var(--color-info-700); }
.text-info-800 { color: var(--color-info-800); }
.text-info-900 { color: var(--color-info-900); }
.text-info-950 { color: var(--color-info-950); }

.text-warning-50 { color: var(--color-warning-50); }
.text-warning-100 { color: var(--color-warning-100); }
.text-warning-200 { color: var(--color-warning-200); }
.text-warning-300 { color: var(--color-warning-300); }
.text-warning-400 { color: var(--color-warning-400); }
.text-warning-500 { color: var(--color-warning-500); }
.text-warning-600 { color: var(--color-warning-600); }
.text-warning-700 { color: var(--color-warning-700); }
.text-warning-800 { color: var(--color-warning-800); }
.text-warning-900 { color: var(--color-warning-900); }
.text-warning-950 { color: var(--color-warning-950); }

.text-success-50 { color: var(--color-success-50); }
.text-success-100 { color: var(--color-success-100); }
.text-success-200 { color: var(--color-success-200); }
.text-success-300 { color: var(--color-success-300); }
.text-success-400 { color: var(--color-success-400); }
.text-success-500 { color: var(--color-success-500); }
.text-success-600 { color: var(--color-success-600); }
.text-success-700 { color: var(--color-success-700); }
.text-success-800 { color: var(--color-success-800); }
.text-success-900 { color: var(--color-success-900); }
.text-success-950 { color: var(--color-success-950); }

.text-danger-50 { color: var(--color-danger-50); }
.text-danger-100 { color: var(--color-danger-100); }
.text-danger-200 { color: var(--color-danger-200); }
.text-danger-300 { color: var(--color-danger-300); }
.text-danger-400 { color: var(--color-danger-400); }
.text-danger-500 { color: var(--color-danger-500); }
.text-danger-600 { color: var(--color-danger-600); }
.text-danger-700 { color: var(--color-danger-700); }
.text-danger-800 { color: var(--color-danger-800); }
.text-danger-900 { color: var(--color-danger-900); }
.text-danger-950 { color: var(--color-danger-950); }

.text-primary-blue-50 { color: var(--color-primary-blue-50); }
.text-primary-blue-100 { color: var(--color-primary-blue-100); }
.text-primary-blue-200 { color: var(--color-primary-blue-200); }
.text-primary-blue-300 { color: var(--color-primary-blue-300); }
.text-primary-blue-400 { color: var(--color-primary-blue-400); }
.text-primary-blue-500 { color: var(--color-primary-blue-500); }
.text-primary-blue-600 { color: var(--color-primary-blue-600); }
.text-primary-blue-700 { color: var(--color-primary-blue-700); }
.text-primary-blue-800 { color: var(--color-primary-blue-800); }
.text-primary-blue-900 { color: var(--color-primary-blue-900); }
.text-primary-blue-950 { color: var(--color-primary-blue-950); }

.text-secondary-blue-50 { color: var(--color-secondary-blue-50); }
.text-secondary-blue-100 { color: var(--color-secondary-blue-100); }
.text-secondary-blue-200 { color: var(--color-secondary-blue-200); }
.text-secondary-blue-300 { color: var(--color-secondary-blue-300); }
.text-secondary-blue-400 { color: var(--color-secondary-blue-400); }
.text-secondary-blue-500 { color: var(--color-secondary-blue-500); }
.text-secondary-blue-600 { color: var(--color-secondary-blue-600); }
.text-secondary-blue-700 { color: var(--color-secondary-blue-700); }
.text-secondary-blue-800 { color: var(--color-secondary-blue-800); }
.text-secondary-blue-900 { color: var(--color-secondary-blue-900); }
.text-secondary-blue-950 { color: var(--color-secondary-blue-950); }

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply font-manrope;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Line clamp utilities */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
